@font-face{
 font-family:Raleway;
 src:url(../font/Raleway-Regular.ttf);
}

body{
 margin-left:auto;
 margin-right:auto;
 font-family:Raleway;
 font-weight:300;
 max-width: 1000px;
 min-width: 10%;
 background-color: rgb(39, 39, 39);
 overflow-x: hidden;
}

@keyframes move {
  from {top:-20%; left: 21%;}
  to {top:20%; left: 21%;}
}

.sideBarAmin{
  position:fixed;
  display: block;
  z-index: 2000;
  top:20%;
  left: 21%;
  /*background-color: #00eef7; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
}

.sideBarAmin a{
  text-decoration: none;
}
.active {
  background-color: aliceblue;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Контейнер для анимации вылета
----------------------------------------
1. Начало*/
.box {
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
/*1. конец
----------------------------------------*/

.main-style{
  border-radius: 7px;
  background-color: rgb(238, 238, 238);
  max-width: 625px;
  min-width: inherit;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:15px;
  padding:15px;
  max-width: 800px;
}

.name-site{
  text-align: center;
  font-size: 35px;
  background-color: white;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
}

/*Стиль шапки
----------------------------------------*/
/*2 начало*/
.header-setup-style{
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: #5E91FF;
  border-radius: 7px;
  max-width: 900px;
  min-width: inherit;
  text-align: center;
  padding: 20px;
  margin-left:auto;
  margin-right:auto;
}
.setup-menu-header{
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
  font-size: 20px;
  align-items: center;
}
.setup-menu-header a{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  color:black;
  text-decoration: none;
  margin-inline: 20px;
}
.setup-menu-header a:hover{
  background-color: rgb(0, 4, 255);
  color: #00eef7;
  overflow: hidden
}
/*2 конец*/
/*----------------------------------------*/
.objective{
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  top: 0;
  left: 0;
  align-items: center;
}

.objective a{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  color:black;
  text-decoration: none;
  display: block;
}

#axis {
  transition: all .2s ease-in-out;
  transform: translate(-500px, 0);
  z-index: 1;
  opacity: 0;
}

#axis.active{
  transform: translate(0, 0);
  position: fixed;
  opacity: 1;
}
h1{
  margin-left:auto;
  margin-right:auto;
  font-size: 3em;
  background-color: rgb(94, 145, 255);
  border-radius: 7px;
  max-width: 625px;
  min-width: inherit;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  margin-top:30px;
  margin-bottom:20px;
  padding:5px;
}

.h1-align{
  text-align: center;
}

h2{
  font-size: 30px;
  margin-left:auto;
  margin-right:auto;
  margin: 5px;
}

.bg-img-setup{
  position: fixed;
}

.img-logo-setup{
  border-radius: 1000px;
  width: 100px;
  padding: 5px;
}

.img-big{
  padding: 1.3%;
  border-radius: 7px;
  background-color: rgb(238, 238, 238);
  max-width: 803px;
  min-width: inherit;
  margin-left:auto;
  margin-right:auto;
}
.img-big img{
  border-radius: 7px;
}

.text-layer {
  font-size: 1.2em;
  min-width: inherit;
}

.table-contents-layer{
  font-size: 1.2em;
  margin-left:20px;
  width: 350px;
}
footer{
  color:rgb(168, 168, 168);
}
.footer-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-box0{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.flex-box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.flex-box1-0{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.flex-box1-1{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.href-style{
  color:rgb(185, 185, 185);
  text-decoration: underline;
}

.logo-footer-style img{
  border-radius: 100px;
  width: 150px;
}

/*Смена картинок (начало)*/
  .sim-slider {
    margin-left:auto;
    margin-right:auto;
    max-width: 767px;
    min-width: inherit;
    padding: 30px;
    border-radius: 7px;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
  }

  .sim-slider img{
    border-radius: 7px;
  }
  
  /* General styles */
  .sim-slider {
    position: relative;
  }
  
  .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sim-slider-element {
    max-width: 100%;
    min-width: inherit;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }
  
  /* Navigation item styles */
  div.sim-slider-arrow-left,
  div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
  }
  
  div.sim-slider-arrow-left {
    left: 4px;
    top: 50%;
    display: block;
    /*background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;*/
    background: url("../image/icon-nav/sim-arrow-left.png") no-repeat;
  }
  
  div.sim-slider-arrow-right {
    right: 4px;
    top: 50%;
    display: block;
    /*background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;*/
    background: url("../image/icon-nav/sim-arrow-right.png") no-repeat;
  }
  
  div.sim-slider-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-arrow-right:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
  }
  
  span.sim-dot {
    max-width: 10%;
    min-width: 2%;
    min-height: 5px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
  }
/*смена картинок (конец)*/

