@font-face{
 font-family:Raleway;
 src:url(../font/Raleway-Regular.ttf);
}

@keyframes move {
  0%{margin: 0;}
  100%{margin: 10px;}
}

@keyframes move1 {
  0%{margin: 10px;}
  100%{margin: 0;}
}

@keyframes move2 {
  0%{
    margin-left:  0;
    margin-right:  0;
  }
  100%{
    margin-left:  10px;
    margin-right:  10px;
  }
}

@keyframes move3 {
  0%{
    margin-left:  10px;
    margin-right:  10px;
  }
  100%{
    margin-left:  0;
    margin-right:  0;
  }
}

body{
 margin-left:auto;
 margin-right:auto;
 font-family:Raleway;
 font-weight:300;
 max-width: 1000px;
 min-width: 10%;
 font-size: 16px;
 background-color: rgb(39, 39, 39);
 overflow-x: hidden;
}

.sideBarAmin{
  position:fixed;
  z-index: 2000;
  top:90%;
  margin-left: 4%;
  text-align:center;
  background-color: #5E91FF;
  border-radius: 7px;
  padding: 10px;
  /*font-size: 10px;*/
}

.sideBarFlex{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.sideBarFlex img:hover{
  transform: scale(1.2);
  transition: transform 800ms ease;
  z-index: 5;
  background-color: rgb(61, 232, 255);
  border-radius: 7px;
}
/*
.sideBarFlex a:hover{
  margin-left:  10px;
  margin-right:  10px;
  transition: move2 800ms ease;
}

.sideBarFlex a{
  margin-left:  0;
  margin-right:  0;
  transition: move3 800ms ease;
}
*/
.sideBarFlex img{
  transform: scale(1);
  transition: transform 800ms ease;
  z-index: 4;
  display: block;
}

.sideBarAmin img{
  width: 45px;
}
.sideBarAmin a{
  text-decoration: none;
  justify-content: space-around;
  margin-inline: 2px;
}
.active {
  transform: translateY(40%);
  transition: transform 0.4s ease;
}

.active2{
  transform: translateY(600%);
  
  transition: transform 0.4s ease;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Контейнер для анимации вылета
----------------------------------------
1. Начало*/
.box {
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
/*1. конец
----------------------------------------*/

.main-style{
  border-radius: 7px;
  background-color: rgb(238, 238, 238);
  max-width: 625px;
  min-width: inherit;
  margin-left:auto;
  margin-right:auto;
  /*margin-top:15px;
  margin-bottom:15px;*/
  margin-block: 15px;
  /*padding:15px;*/
  padding-inline:15px;
  padding-block: 1px;
  max-width: 800px;
}

.name-site{
  text-align: center;
  font-size: 35px;
  background-color: white;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
}

/*Стиль шапки
----------------------------------------*/
/*2 начало*/
.header-setup-style{
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: #5E91FF;
  border-radius: 7px;
  max-width: 900px;
  min-width: inherit;
  text-align: center;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}
.setup-menu-header{
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
  font-size: 20px;
  align-items: center;
}
.setup-menu-header a{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  color:black;
  text-decoration: none;
  margin-inline: 25px;
}
.setup-menu-header p{
  margin-inline: 25px;
}

.header-setup-style a{
  /*margin-inline: 25px;*/
  transform: scale(1);
  transition: transform 500ms ease;
}

.header-setup-style a:hover{
  background-color: rgb(61, 232, 255);
  color: #002fff;
  /*margin-inline: 30px;*/
  transform: scale(1.2);
  transition: transform 500ms ease;
}

/*2 конец*/
/*----------------------------------------*/
.objective{
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  top: 0;
  left: 0;
  align-items: center;
}

.objective a{
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  color:black;
  text-decoration: none;
  display: block;
}

#axis {
  transition: all .2s ease-in-out;
  transform: translate(-500px, 0);
  z-index: 1;
  opacity: 0;
}

#axis.active{
  transform: translate(0, 0);
  position: fixed;
  opacity: 1;
}
h1{
  margin-left:auto;
  margin-right:auto;
  font-size: 3em;
  background-color: rgb(94, 145, 255);
  border-radius: 7px;
  max-width: 625px;
  min-width: inherit;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  margin-top:30px;
  margin-bottom:20px;
  padding:5px;
}

.h1-align{
  text-align: center;
}

h2{
  font-size: 30px;
  margin-left:auto;
  margin-right:auto;
  margin: 5px;
  padding-top: 5px;
}

.bg-img-setup{
  position: fixed;
}

.img-logo-setup{
  border-radius: 1000px;
  width: 100px;
  padding: 5px;
}

.img-big{
  padding: 1.3%;
  border-radius: 7px;
  background-color: rgb(238, 238, 238);
  max-width: 803px;
  min-width: inherit;
  margin-left:auto;
  margin-right:auto;
}
.img-big img{
  border-radius: 7px;
}

.text-layer {
  font-size: 1.2em;
  min-width: inherit;
  padding: 5px;
}

.table-contents-layer{
  font-size: 1.2em;
  margin-left:20px;
  width: 350px;
}
footer{
  color:rgb(168, 168, 168);
}
.footer-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box0{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.flex-box0 img:hover{
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  transform: scale(2);
  transition: transform 500ms ease;
}

.flex-box0 a:hover{
  margin: 10px;
  animation: move 500ms ease;
}

.flex-box0 a{
  margin: 0;
  animation: move1 500ms ease;
}

.flex-box0 img{
  transform: scale(1);
  transition: transform 500ms ease;
}

.flex-box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.flex-box1-0{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.flex-box1-1{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.href-style{
  color:rgb(185, 185, 185);
  text-decoration: underline;
}

.logo-footer-style img{
  border-radius: 100px;
  width: 150px;
}

.imgLayer{
  background-image: url(../image/bg_img/BSBG_4.webp);
  width: 95%;
  height: 100%;
  padding: 10px;
  margin-block: 10px;
  border-radius: 7px;
  margin-inline:auto;
}

.divStyleFlex{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  background-color: rgba(128, 255, 213, 0.658);
  /*background-color: rgba(255, 255, 255, 0.747);*/
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  margin-block: 10px;
  backdrop-filter: blur(2.5px);
}

.divStyleFlex p{
  text-align: center;
  font-size: 20px;
}

.buttomStyle{
  padding: 5px;
  margin-block: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5E91FF;
  width: 220px;
  height: 50px;
  border-radius: 7px;
  font-family: Raleway;
  font-size: 20px;
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  transform: scale(1);
  transition: transform 500ms ease;
}
.buttomStyle:hover{
  transform: scale(0.8);
  transition: transform 500ms ease;
}

.textStyle{
  background-color: white;
  border-radius: 7px;
  height: 25px;
  padding: 5px;
  font-family: Raleway;
  font-size: 20px;
  border-width: 2px;
  border-color: black;
  transform: scale(1);
  transition: transform 500ms ease;
}

.textStyle:hover{
  background-color: wheat;
  transform: scale(1.1);
  transition: transform 500ms ease;
}

.hrefBack a{
  text-decoration: none;
  background-color: #5E91FF;
  border-radius: 7px;
  border-color: black;
  border-width: 10px;
  font-size: 20px;
  color: black;
  padding-inline: 10px;
  padding-block: 5px;
}

.hrefBack a:hover{
  background-color: yellow;
}


/*Смена картинок (начало)*/
  .sim-slider {
    margin-left:auto;
    margin-right:auto;
    max-width: 767px;
    min-width: inherit;
    padding: 30px;
    border-radius: 7px;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
  }

  .sim-slider img{
    border-radius: 7px;
  }
  
  /* General styles */
  .sim-slider {
    position: relative;
  }
  
  .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sim-slider-element {
    max-width: 100%;
    min-width: inherit;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }
  
  /* Navigation item styles */
  div.sim-slider-arrow-left,
  div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
  }
  
  div.sim-slider-arrow-left {
    left: 4px;
    top: 50%;
    display: block;
    /*background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;*/
    background: url("../image/icon-nav/sim-arrow-left.png") no-repeat;
  }
  
  div.sim-slider-arrow-right {
    right: 4px;
    top: 50%;
    display: block;
    /*background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;*/
    background: url("../image/icon-nav/sim-arrow-right.png") no-repeat;
  }
  
  div.sim-slider-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-arrow-right:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
  }
  
  span.sim-dot {
    max-width: 10%;
    min-width: 2%;
    min-height: 5px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
  }
/*смена картинок (конец)*/

